{% extends 'base.html.twig' %}

{% block title %}Armes{% endblock %}

{% block monTitre %}
Armes : {{ arme.nom }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2">
        <img src="{{asset('images/armes/' ~ arme.nom|replace({'é':'e'}) ~ '.png')}}">
    </div>
    <div class="col">
        <div>Nom : {{arme.nom}}</div>
        <div>Description : {{arme.description}}</div>
        <div>Dégat: {{arme.degat}}</div>
    <div>
</div>

{% endblock %}